.section {
    padding: 15rem 28rem;
    align-items: center;
    gap: 6.4rem;
}

.section-black {
    background-color: var(--main-black);
}

.title {
    font-size: 3.6rem;
    font-weight: 700;
    color: var(--main-black);
}

.section-black .title {
    color: var(--white);
}