.banner {
    align-items: left;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    height: 100vh;
    padding-left: 34rem;
}

.banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    z-index: -1;
}

.banner-title{
    text-transform: uppercase;
    font-family: 'Vevey Regular';
    font-size: 12.8rem;
    font-weight: 400;
    color: var(--main-black);
}

.banner-subtitle {
    color: var(--main-black);
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 4rem;
}