.categories-item {
    width: 40rem;
    height: 40rem;
    background-size: cover;
    background-position: center;
    border-radius: 1.2rem;
    align-items: center;
}

.categories-item__title{
    color: var(--main-black);
    font-family: Evolventa;
    font-size: 2.4rem;
    font-weight: 700;
    margin: 15% 9.4rem auto;
    text-align: center;
}