html {
  font-size: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

a, 
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

:root {
  --white: #F9F9F9;
  --black: #0E0E0E;
  --main-black: #333333;
  --coffee: #A58A76;
  --grey: #565656;
  --disable: #ECECEC;
  --stroke-disable: #BEBEBE;
  --orange-stroke: #F0CB46;
  --light-brown: #D9D5CD;
}